body {
    margin: 0;
}

<<<<<<< HEAD
.custom-bar {
    background-color: #222;
    box-sizing: border-box;
    margin: 0;
    border-top: 0;
    padding: 0;

}

.custom-bar li {
    display: inline-block;
    padding: 20px;
    font-size: 22px;
}

.custom-bar a{
    color: white;
}

#TalkPython {
    padding-left: 20px;
    padding-left: 20px;
}
=======
.topnav {
    background-color: #222;
    overflow: hidden;
    padding: 22px;
    text-align: center;
    font-size: 22px;
}

.topnav a {
    font-size: 22px;
    color: white;
}

.topnav-right {
    float: right;
}



>>>>>>> 87f3a4d (Did go on with the challenge)
